
*{
    margin:0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
   
    max-width: 1440px;
    background-color: blue;
}

#header {
    height: 120px;
    width:100%;
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 30px;
}

#navigation {
    clear: both;
    background-color: grey;
    overflow: hidden;

}
    #navigation a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }
    #navigation a:hover{
        background-color: darkblue;
        color: white;
    }


#main_content{
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    background-color: green;


}

.box {
    width: 50%;

    height: 140px;
    float: left;
}

#footer {
    padding: 10px;
    clear: both;
    background-color: darkgrey;
    color:white;
    text-align: right;
}

/* .box1 {
    background-color: yellow;
}
.box2 {
    background-color: pink;
}

.box3 {
    background-color: grey;
}

.box4 {
    background-color: red;
}
.clearfix {
    clear: both;
} */
/*768 for tablet*/
@media screen and (max-width:768px){
    #header{
        width: 100%;

    }
    .container{
        width: 100%;
    }
    .box1{
        width: 100%;
    }
    .box2{
        width: 100%;
    }
    #navigation a{
        float: left;
        display: block;
    }
}

/*
#page-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1
    width:100%;
 }

 #header{
   background-color:#E4EDF2;
   color: black;
   text-align:center;
   padding: 10px;
 }

 #navigation{
   background-color:#C5E3E5;
   margin:10px;
   padding:20px;
 }
     #navigation .selected{
       font-weight: bold;
     }
    #navigation ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
    }
    #navigation a{
      display: inline;
      display: block;
      width: 200px;
    }

 #main{
   flex-basis:75%;
   background-color: lightgrey;
   padding:20px;
   margin: 10px 23px 20px 20px;
   float:left;
   clear:both;
 }

 #footer{
     clear: both;
     padding: 10px;
     background-color: darkgrey;
     color:white;
     text-align: right;
 } */
